*,.ui-btn,input[type="tel"] {
	font-family: 'Courier New', monospace;
}

input[type="tel"],.digit,.action {
	font-size: large;
}

.ui-header .ui-title {
	font-size: large;
	line-height: 1;
}

.ui-footer {
	padding: 0em .4em;
}

.ui-input-text input {
	text-align: right;
}

.ui-field-contain>label {
	min-width:11em;
}

.ui-field-contain .ui-controlgroup-label,.ui-field-contain .ui-controlgroup-controls {
	width:auto;
}

.ui-content {
	padding-top:0;
	padding-bottom:0;
}

.address {
	margin:0;
	padding:0;
}

.address .ui-controlgroup-label {
	margin:0;
}

.address .ui-controlgroup-controls {
	float:right;
	min-width:15em;
}
